<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.repository.BookMapper">

    <!-- Example SQL query -->
    <select id="bookList" resultType="com.example.entity.Book">
        SELECT * from BOOK ORDER BY NUM DESC
    </select>

    <insert id="saveBook" parameterType="com.example.entity.Book">
        INSERT INTO BOOK(title, price, author, page)
        VALUES(#{title}, #{price}, #{author}, 500)
    </insert>

    <insert id="registerBook" parameterType="com.example.entity.Book">
        INSERT INTO BOOK(title, price, author, page)
        VALUES(#{title},#{price}, #{author}, #{page})
    </insert>

    <select id="get" resultType="com.example.entity.Book">
        SELECT * from BOOK WHERE NUM = #{num}
    </select>

    <update id="update" parameterType="com.example.entity.Book">
        UPDATE BOOK set TITLE = #{title}, PRICE = #{price}, AUTHOR = #{author}, PAGE = #{page}
        WHERE NUM = #{num}
    </update>

    <delete id="remove">
        DELETE FROM BOOK WHERE NUM = #{num}
    </delete>
</mapper>
